.hero{
    background-color: #5bccd9;
}
ul li a{
    color:black;
    font-size: 10px;
}
.empty{
    background-color: rgb(84, 85, 86);
}

.container .row{
    justify-content: center;
    align-items: center;
    display: inline-flex;
}
@media (min-width: 576px) {
    .card{
      max-width: 700px;
      height: 360px !important;
    }
   
  }
@media (max-width: 786px) {
    .card{
        max-width: 800px !important;
        height: 360px !important;
    }
   
  }
  